<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <title>SemevalAnnotation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<form action="/SemevalidentificationSubmit" method ="POST">
<h4>The file name is {{ sequencenumber }}</h4>






<p>
    Colors represent
    </br>
    <span style="color: Green "> Action </span>

    <span style="color: Red "> Colors </span>

    <span style="color: Blue "> Trajector </span>

    <span style="color: Grey "> Indicator </span>



</p>
<p>
    Sentence ---->
    {% for entity in entities %}
     {% set outer_loop = loop %}
    {% set colors = colors[outer_loop.index0] %}
     <span style="color: {{ colors }}">{{ entity }} </span>
    {% endfor %}
</p>

<div style="display: flex;">
      <div style="display: flex; flex-direction: column; margin-right: 20px;">
    {% for entity in entities %}
     {% set outer_loop = loop %}
    {% set colors = colors[outer_loop.index0] %}
     <span style="color: {{ colors }}; margin: 1px">{{ entity }}--- {{outer_loop.index0}} </span>
          {% endfor %}
      </div>



<div style="display: flex; flex-direction: column; margin-right: 20px;">
     Entities :---
    <div class ="editor">
    <div class="row-numbers"></div>
      <textarea type="text" id="entities" name="entities" rows="10" cols= "50"> {{ entities_json[:-1] }}</textarea>
        </div>

</div>

    <div style="display: flex; flex-direction: column;">
    Relations :---
      <textarea type="text" id="relations" name="relations" rows="4" cols= "30"> {{ relations_json }}</textarea>
   </div>

</div>



<form method="POST">

    <input type="hidden" id="sequencenumber" name="sequencenumber" value="{{ sequencenumber}}">
    <h3>Is the information correct or incorrect. Reply with True or False</h3>
    <input type="radio" name="options" id="option1" value="True", align="center"> True </input><br>
    <input type="radio" name="options" id="option2" value="False" align ="center"> False </input><br>

<input type="submit" value="Submit" class="btn" />
      </form>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
const textarea = document.getElementById("entities");
const rowNumbers = document.querySelector(".row-numbers");

function updateRowNumbers() {
  const lines = textarea.value.split("\n");
  const lineCount = lines.length;
  let lineNumbers = "";
  for (let i = 0; i <= lineCount; i++) {
    lineNumbers += i + "\n";
  }
  rowNumbers.innerText = lineNumbers;
}

updateRowNumbers();
</script>


</body>
</html>


